@model IEnumerable<TAGIDEquipment>

<div class="row my-3 px-3">
    <a asp-action="AddTAGIDEquipment" class="btn btn-primary btn-sm">
        <i class="fa fa-plus"></i>
    </a>
</div>
<div>
    <div>
        <i class="fa fa-align-justify"></i>
        TAGID de Equipamentos
    </div>
    <br />
    <div>
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th class="nowrap">TAGID</th>
                    <th class="nowrap"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="nowrap">
                            @Html.DisplayFor(modelItem => item.TAGID)
                        </td>
                        <td class="nowrap float-right">
                            <a asp-action="EditTAGIDEquipment" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a asp-action="DeleteTAGIDEquipment" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style type="text/css">
    .nowrap {
        white-space: nowrap;
    }

    .alnright {
    }
</style>
